*{
	margin:0px;
	padding:0px;
}
#father{
	min-width:700px;
	min-height:500px;
	margin:5px auto;
	width:60%;
	height:100VH;
	border:4px solid gainsboro;
	border-radius:10px;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-content:space-around;
}

#header{
     width:100%;
     height:10%;
     border-bottom:3px solid gainsboro;
}
#header:first-child{
	font-size:40px;
	text-align:center;
	transition:opacity 0.75s;
	user-select:none;
}
#header:first-child:hover{
	opacity:0.5;
}

#body{
	width:100%;
	height:80%;
	border:1px solid black;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-around;
	align-items:center;
}
#left{
	width:20%;
	height:100%;
	border:1px solid black;
}
#left:first-child{
	text-align:center;
	border-bottom:2px solid gainsboro;
}
#banner{
	width:100%;
	border-top:5px solid gainsboro;
	
}

.font{
	font-size:15px;
	display:block;
	text-decoration:none;
}
#right{
	position:relative;
	width:80%;
	height:100%;
	border:1px solid black;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:flex-start;
	overflow-y: scroll;
	
}
#right div{
	width:100%;
	height:10%;
	text-align:center;
	border-bottom:1px solid black;
	line-height:40px;
}
#right p{
	width:100%;
	height:90%;	
}
.button_1{
	opacity:0;
	position: absolute;
	right:0px;
	bottom:20px;
	transition:opacity 0.5s;
}
.button_2{
	opacity:0;
	position:absolute;
	right:0px;
	bottom:0px;
	transition:opacity 0.5s;
}
.button_1:hover{
	opacity:1;
}
.button_2:hover{
	opacity:1;
}
#footer{
	width:100%;
	height:10%;
	border:1px solid black;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-content:flex-start;

}
.pfont{
	font-size:1px;
}
//Cartoon

@keyframes father-1{
	0%{
		transform:rotate(30deg);
	}
	50%{
		transform:translate(100px,0);
	}
	100%{
		transform:rotate(180deg);
	}
}

@keyframes child{
	50%{
		transform:scale(1.1,1.1);
	}
	75%{
		transform:translate(0,30px);
	}
}

.father{
	display:flex;
	flex:row nowrap;
	width:50%;
	height:10%;
	justify-content:center;
	align-items:center;
	animation:father-1 5s;
	box-shadow:3px 2px grey;
	user-select:none;
	transition:transform 1s;
}
.father:hover{
   transform:scale(1.1,1.1);
}
.child-1{
	width:20%;
	height:100%;
	line-height:100%;
	background-color:Aqua;
	text-align:center;
	font-size:40px;
	animation:child 2s;
	animation-delay:5s;
	text-shadow:2px 2px 2px black;
	transition:opacity 0.5s;
}
.child-2{
	width:20%;
	height:100%;
	line-height:100%;
	background-color:Red;
	text-align:center;
	font-size:40px;
	animation:child 2s;
	animation-delay:7s;
	text-shadow:2px 2px 2px black;
	transition:opacity 0.5s;
}
.hover:hover{
	opacity:0.5;
}
.child-3{
	width:20%;
	height:100%;
	line-height:100%;
	background-color:Chartreuse;
	text-align:center;
	font-size:40px;
	animation:child 2s;
	animation-delay:9s;
	text-shadow:2px 2px 2px black;
	transition:opacity 0.5s;
}
.child-4{
	width:20%;
	height:100%;
	line-height:100%;
	background-color:Snow;
	text-align:center;
	font-size:40px;
	animation:child 2s;
	animation-delay:11s;
	text-shadow:2px 2px 2px black;
	transition:opacity 0.5s;
}
.child-5{
	width:20%;
	height:100%;
	line-height:100%;
	background-color:SpringGreen;
	text-align:center;
	font-size:40px;
	animation:child 2s;
	animation-delay:13s;
	text-shadow:2px 2px 2px black;
	transition:opacity 0.5s;
}

